<div class="modal fade" id="login_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-user"></span> Login</h4>
            </div>
            <!--suppress HtmlUnknownTarget -->
    <form role="form" method="post" action="login" id="login-form" novalidate="novalidate">
        {% csrf_token %}
        <div class="modal-body">
        <input type="text" id="id_username_1" name="usrname">
        <input type="password" id="id_password_1" name="psw">
        <input type="submit" id="id_login_submmit">
        </div>
    </form>
</div>
    </div>
</div>